@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.hiweb-field-repeat table.widefat thead td, .hiweb-field-repeat table.widefat thead th {
  border: none; }
.hiweb-field-repeat table .nowrap[data-ctrl] {
  white-space: nowrap; }
.hiweb-field-repeat table .flex-column {
  width: 100%; }
.hiweb-field-repeat table [data-ctrl] {
  position: relative; }
  .hiweb-field-repeat table [data-ctrl] button {
    background: transparent;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out 0ms;
    -moz-transition: all 0.2s ease-in-out 0ms;
    -o-transition: all 0.2s ease-in-out 0ms;
    transition: all 0.2s ease-in-out 0ms; }
    .hiweb-field-repeat table [data-ctrl] button:hover {
      opacity: 1;
      transform: scale(1.3); }
  .hiweb-field-repeat table [data-ctrl] [data-sub-flex-dropdown] {
    position: absolute;
    z-index: 10000;
    border: 1px solid #ccc;
    background: #fff;
    padding: 12px 24px;
    display: none;
    -webkit-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1); }
    .hiweb-field-repeat table [data-ctrl] [data-sub-flex-dropdown] div {
      text-align: center; }
      .hiweb-field-repeat table [data-ctrl] [data-sub-flex-dropdown] div a {
        display: inline-block;
        padding-bottom: 0;
        margin: 3px 12px 8px 12px;
        border-bottom: 1px solid #fff;
        -webkit-transition: all 0.2s ease-in-out 0ms;
        -moz-transition: all 0.2s ease-in-out 0ms;
        -o-transition: all 0.2s ease-in-out 0ms;
        transition: all 0.2s ease-in-out 0ms; }
        .hiweb-field-repeat table [data-ctrl] [data-sub-flex-dropdown] div a:hover {
          padding-bottom: 5px;
          margin: 3px 12px 3px 12px;
          border-bottom: 1px solid #000; }
.hiweb-field-repeat table thead tr, .hiweb-field-repeat table thead th, .hiweb-field-repeat table tfoot tr, .hiweb-field-repeat table tfoot th {
  text-align: center; }
.hiweb-field-repeat table tbody[data-rows-source] {
  opacity: 0.3;
  display: none; }
.hiweb-field-repeat table tbody[data-rows-list] thead th, .hiweb-field-repeat table tbody[data-rows-list] tfoot th {
  padding: 0;
  font-size: 0.9em; }
.hiweb-field-repeat table tbody[data-rows-list] tr [data-ctrl] {
  padding: auto 2px;
  width: 38px; }
.hiweb-field-repeat table tbody[data-rows-list] tr [data-drag] {
  background-image: url(../img/pattern-2.png);
  cursor: move;
  border-right: 1px dotted #eee;
  border-bottom: 1px dotted #eee;
  width: 16px;
  padding: 8px 2px; }
  .hiweb-field-repeat table tbody[data-rows-list] tr [data-drag] button, .hiweb-field-repeat table tbody[data-rows-list] tr [data-drag] i {
    cursor: move; }
  .hiweb-field-repeat table tbody[data-rows-list] tr [data-drag] i {
    opacity: 0.5; }
  .hiweb-field-repeat table tbody[data-rows-list] tr [data-drag]:hover i {
    opacity: 1; }
.hiweb-field-repeat table tbody[data-rows-list] tr:last-child [data-drag] {
  border-bottom: none; }
.hiweb-field-repeat table tbody[data-rows-message] [data-row-empty="1"] {
  display: none; }
.hiweb-field-repeat table tr[data-row] {
  -webkit-transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms;
  -moz-transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms;
  -o-transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms;
  transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms; }
  .hiweb-field-repeat table tr[data-row].ui-sortable-helper {
    background-color: white;
    -webkit-transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    -moz-transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    -o-transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    transform: scale(1.02);
    z-index: 10000 !important;
    -webkit-opacity: 0.85;
    -moz-opacity: 0.85;
    -ms-opacity: 0.85;
    -o-opacity: 0.85;
    opacity: 0.85;
    filter: alpha(opacity=85);
    -webkit-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-filter: blur(0.2px);
    -moz-filter: blur(0.2px);
    -o-filter: blur(0.2px);
    -ms-filter: blur(0.2px);
    filter: blur(0.2px); }
.hiweb-field-repeat table th.compact {
  display: none; }
.hiweb-field-repeat table th .description {
  font-size: 85%;
  margin: 0; }
.hiweb-field-repeat table td {
  text-align: center;
  vertical-align: top;
  padding: 4px 5px; }
  .hiweb-field-repeat table td.compact {
    display: block; }
.hiweb-field-repeat[data-flex] > table > tbody > tr[data-flex-id] {
  -webkit-box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.2); }
  .hiweb-field-repeat[data-flex] > table > tbody > tr[data-flex-id] > td {
    padding-bottom: 30px; }
.hiweb-field-repeat .hiweb-field-repeat-flex {
  width: 100%; }
  .hiweb-field-repeat .hiweb-field-repeat-flex .hiweb-field-repeat-flex-header {
    font-size: 12pt; }

/*# sourceMappingURL=field-repeat.css.map */
