.hiweb-field-repeat table.ui.table {
  -webkit-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.1); }
  .hiweb-field-repeat table.ui.table tbody[data-rows-message] [data-row-empty="1"] {
    display: none; }
  .hiweb-field-repeat table.ui.table tr[data-row] {
    -webkit-transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, box-shadow 500ms ease-in-out, filter 500ms ease-in-out;
    -moz-transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, box-shadow 500ms ease-in-out, filter 500ms ease-in-out;
    -o-transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, box-shadow 500ms ease-in-out, filter 500ms ease-in-out;
    transition: transform 500ms ease-in-out, opacity 500ms ease-in-out, box-shadow 500ms ease-in-out, filter 500ms ease-in-out; }
    .hiweb-field-repeat table.ui.table tr[data-row].ui-sortable-helper {
      padding: 0;
      background-color: white;
      -webkit-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
      -moz-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
      -o-transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
      transition: transform 200ms ease-in-out, opacity 200ms ease-in-out, box-shadow 200ms ease-in-out, filter 200ms ease-in-out;
      transform: scale(1.02);
      z-index: 10000 !important;
      -webkit-opacity: 0.85;
      -moz-opacity: 0.85;
      -ms-opacity: 0.85;
      -o-opacity: 0.85;
      opacity: 0.85;
      filter: alpha(opacity=85);
      -webkit-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
      -webkit-filter: blur(0.2px);
      -moz-filter: blur(0.2px);
      -o-filter: blur(0.2px);
      -ms-filter: blur(0.2px);
      filter: blur(0.2px); }
.hiweb-field-repeat thead .ui.dropdown {
  z-index: 1150; }
.hiweb-field-repeat tfoot .ui.dropdown {
  z-index: 1050; }
.hiweb-field-repeat .ui.table thead th, .hiweb-field-repeat .ui.table tfoot th {
  padding: 4px 6px; }
.hiweb-field-repeat tbody[data-rows-list] tr [data-ctrl] {
  padding: 2px; }
  .hiweb-field-repeat tbody[data-rows-list] tr [data-ctrl] .ui.menu .item {
    padding: 12px 10px; }
.hiweb-field-repeat tbody[data-rows-list] tr [data-drag] {
  background-image: url(../img/pattern-2.png);
  cursor: move;
  border-right: 1px dotted #eee;
  border-bottom: 1px dotted #eee;
  width: 16px;
  padding: 8px 2px; }
  .hiweb-field-repeat tbody[data-rows-list] tr [data-drag] button, .hiweb-field-repeat tbody[data-rows-list] tr [data-drag] i {
    cursor: move; }
  .hiweb-field-repeat tbody[data-rows-list] tr [data-drag] i {
    opacity: 0.5; }
  .hiweb-field-repeat tbody[data-rows-list] tr [data-drag]:hover i {
    opacity: 1; }
.hiweb-field-repeat tbody[data-rows-list] tr td.compacted {
  vertical-align: top; }
.hiweb-field-repeat tbody[data-rows-list] tr .flex-column {
  padding: 0; }
.hiweb-field-repeat tbody[data-rows-list] tr:last-child [data-drag] {
  border-bottom: none; }
.hiweb-field-repeat .hiweb-field-repeat-flex {
  width: 100%; }
  .hiweb-field-repeat .hiweb-field-repeat-flex td {
    vertical-align: top; }
  .hiweb-field-repeat .hiweb-field-repeat-flex .hiweb-field-repeat-flex-header {
    border-bottom: none; }
  .hiweb-field-repeat .hiweb-field-repeat-flex .ui.table tr > td {
    border-top: 1px solid rgba(34, 36, 38, 0.1); }
  .hiweb-field-repeat .hiweb-field-repeat-flex .ui.table tr:first-child > td {
    border-top: none; }
  .hiweb-field-repeat .hiweb-field-repeat-flex .ui.table thead th, .hiweb-field-repeat .hiweb-field-repeat-flex .ui.table tfoot th {
    font-size: 80%;
    padding: 0.4em 0.5em; }
  .hiweb-field-repeat .hiweb-field-repeat-flex .ui.table thead .ui.dropdown {
    z-index: 1020; }
  .hiweb-field-repeat .hiweb-field-repeat-flex .ui.table tfoot .ui.dropdown {
    z-index: 1010; }

/*# sourceMappingURL=field-repeat.css.map */
