.postbox .hiweb-fieldset {
  margin: 4pt 0; }

.hiweb-fields-form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media (max-width: 1180px) {
    .hiweb-fields-form {
      display: block; } }
  .hiweb-fields-form .hiweb-fieldset .post-attributes-label-wrapper {
    margin: 0 0 .5em 0; }
  .hiweb-fields-form .hiweb-fieldset .description {
    text-align: justify-all; }
  .hiweb-fields-form .hiweb-fieldset-width-full {
    width: 100%;
    flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -webkit-flex: 1 1 100%; }
  .hiweb-fields-form .hiweb-fieldset-width-half {
    width: 50%;
    flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    -webkit-flex: 1 1 50%; }
  .hiweb-fields-form .hiweb-fieldset-width-third {
    width: 33%;
    flex: 1 1 33%;
    -ms-flex: 1 1 33%;
    -webkit-flex: 1 1 33%; }
  .hiweb-fields-form .hiweb-fieldset-width-two_third {
    width: 66.6%;
    flex: 1 1 66.6%;
    -ms-flex: 1 1 66.6%;
    -webkit-flex: 1 1 66.6%; }
  .hiweb-fields-form .hiweb-fieldset-width-quarter {
    width: 25%;
    flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    -webkit-flex: 1 1 25%; }
  .hiweb-fields-form .hiweb-fieldset-width-three_quarter {
    width: 75%;
    flex: 1 1 75%;
    -ms-flex: 1 1 75%;
    -webkit-flex: 1 1 75%; }
  .hiweb-fields-form .hiweb-fieldset-width-fifth {
    width: 20%;
    flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    -webkit-flex: 1 1 20%; }
  .hiweb-fields-form .hiweb-fieldset-width-two_fifth {
    width: 40%;
    flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    -webkit-flex: 1 1 40%; }
  .hiweb-fields-form .hiweb-fieldset-width-three_fifth {
    width: 60%;
    flex: 1 1 60%;
    -ms-flex: 1 1 60%;
    -webkit-flex: 1 1 60%; }
  .hiweb-fields-form .hiweb-fieldset-width-four_fifths {
    width: 80%;
    flex: 1 1 80%;
    -ms-flex: 1 1 80%;
    -webkit-flex: 1 1 80%; }
  .hiweb-fields-form .hiweb-fieldset-width-half, .hiweb-fields-form .hiweb-fieldset-width-third, .hiweb-fields-form .hiweb-fieldset-width-two_third, .hiweb-fields-form .hiweb-fieldset-width-quarter, .hiweb-fields-form .hiweb-fieldset-width-three_quarter, .hiweb-fields-form .hiweb-fieldset-width-fifth, .hiweb-fields-form .hiweb-fieldset-width-two_fifth, .hiweb-fields-form .hiweb-fieldset-width-three_fifth, .hiweb-fields-form .hiweb-fieldset-width-four_fifths {
    box-sizing: border-box;
    padding-right: 16px; }
    @media (max-width: 1180px) {
      .hiweb-fields-form .hiweb-fieldset-width-half, .hiweb-fields-form .hiweb-fieldset-width-third, .hiweb-fields-form .hiweb-fieldset-width-two_third, .hiweb-fields-form .hiweb-fieldset-width-quarter, .hiweb-fields-form .hiweb-fieldset-width-three_quarter, .hiweb-fields-form .hiweb-fieldset-width-fifth, .hiweb-fields-form .hiweb-fieldset-width-two_fifth, .hiweb-fields-form .hiweb-fieldset-width-three_fifth, .hiweb-fields-form .hiweb-fieldset-width-four_fifths {
        width: 100%;
        display: block; } }
  .hiweb-fields-form .button {
    height: unset;
    line-height: unset; }
  .hiweb-fields-form .menu {
    padding-top: 0; }
  .hiweb-fields-form .search {
    background-color: transparent; }
  .hiweb-fields-form .ui.selection.dropdown.visible, .hiweb-fields-form .ui.selection.dropdown.active {
    z-index: 1050; }

.hiweb-fields-form-default .hiweb-fieldset {
  margin-top: 8px;
  margin-bottom: 20px; }

[data-tooltip]:hover:before {
  z-index: 99999; }
[data-tooltip]:hover:after {
  z-index: 99990; }

/*# sourceMappingURL=fields.css.map */
