@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.hw-input-repeat table .nowrap[data-ctrl] {
  white-space: nowrap; }
.hw-input-repeat table [data-ctrl] button {
  background: transparent;
  border: none;
  padding: 0;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.2S;
  -moz-transition: all 0.2S;
  -ms-transition: all 0.2S;
  -o-transition: all 0.2S;
  transition: all 0.2S; }
  .hw-input-repeat table [data-ctrl] button:hover {
    opacity: 1;
    transform: scale(1.3); }
.hw-input-repeat table thead tr, .hw-input-repeat table thead th, .hw-input-repeat table tfoot tr, .hw-input-repeat table tfoot th {
  text-align: center; }
.hw-input-repeat table tbody[data-rows-source] {
  opacity: 0.3;
  display: none; }
.hw-input-repeat table tbody[data-rows-list] thead th, .hw-input-repeat table tbody[data-rows-list] tfoot th {
  padding: 0;
  font-size: 0.9em; }
.hw-input-repeat table tbody[data-rows-list] tr [data-ctrl] {
  padding: auto 2px;
  width: 38px; }
.hw-input-repeat table tbody[data-rows-list] tr [data-drag] {
  background-image: url(../img/pattern-2.png);
  cursor: move;
  border-right: 1px dotted #eee;
  border-bottom: 1px dotted #eee;
  width: 16px;
  padding: 8px 2px; }
  .hw-input-repeat table tbody[data-rows-list] tr [data-drag] button, .hw-input-repeat table tbody[data-rows-list] tr [data-drag] i {
    cursor: move; }
  .hw-input-repeat table tbody[data-rows-list] tr [data-drag] i {
    opacity: 0.5; }
  .hw-input-repeat table tbody[data-rows-list] tr [data-drag]:hover i {
    opacity: 1; }
.hw-input-repeat table tbody[data-rows-list] tr:last-child [data-drag] {
  border-bottom: none; }
.hw-input-repeat table tbody[data-rows-message] [data-row-empty="1"] {
  display: none; }
.hw-input-repeat table tr[data-row] {
  -webkit-transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms;
  -moz-transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms;
  -o-transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms;
  transition: transform 500ms ease-in-out 0ms, opacity 500ms ease-in-out 0ms, box-shadow 500ms ease-in-out 0ms, filter 500ms ease-in-out 0ms; }
  .hw-input-repeat table tr[data-row].ui-sortable-helper {
    background-color: white;
    -webkit-transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    -moz-transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    -o-transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    transition: transform 200ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, box-shadow 200ms ease-in-out 0ms, filter 200ms ease-in-out 0ms;
    transform: scale(1.02);
    z-index: 10000 !important;
    -webkit-opacity: 0.85;
    -moz-opacity: 0.85;
    -ms-opacity: 0.85;
    -o-opacity: 0.85;
    opacity: 0.85;
    -webkit-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 20px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-filter: blur(0.2px);
    -moz-filter: blur(0.2px);
    -o-filter: blur(0.2px);
    -ms-filter: blur(0.2px);
    filter: blur(0.2px); }
.hw-input-repeat table th .description {
  font-size: 85%;
  margin: 0; }
.hw-input-repeat table td {
  text-align: center; }

/*# sourceMappingURL=input-repeat.css.map */
